html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#wrap > .container {
  padding: 60px 15px 30px;
}

.container .text-muted {
  margin: 20px 0;
}

.container .well {
  font-weight: bold;
}

.list-group {
  margin-top: 20px;
}

.page-header {
  margin-top: 0;
}

#footer > .container {
  padding: 20px 15px 0 15px;
  text-align: center;
}

code {
  font-size: 80%;
}