<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="app"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="app"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="app"> <!--<![endif]-->

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>Dockerfile Project - Trusted Automated Docker Builds</title>
  <link rel="shortcut icon" href="favicon.png" />
  <meta name="description" content="Dockerfile Project - Trusted Automated Docker Builds"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta property="og:title" content="Dockerfile Project"/>
  <meta property="og:description" content="Trusted Automated Docker Builds"/>
  <meta property="og:url" content="http://dockerfile.github.io"/>
  <meta property="og:image" content="http://2.gravatar.com/avatar/2c2e03d4ce4d1c824b69bf80d3499f9d?d=https%3A%2F%2Fidenticons.github.com%2F74665c4d9f92b301e9772c8738334e7f.png&r=x&s=440"/>
  <meta property="og:type" content="website"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/app.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
</head>

<body>
  <div id="wrap">

    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <strong>Dockerfile Project - Trusted Automated Docker Builds</strong>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-thumbs-up"></span> Trusted Automated Docker Builds <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Projects</li>
                <li ng-repeat="project in projects">
                  <a href="/#/{{ project.id }}">dockerfile/<strong class="text-success" ng->{{ project.id }}</strong></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <section class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="list-group">
            <h4>Projects</h4>
            <li class="list-group-item" ng-repeat="project in projects">
              <a href="/#/{{ project.id }}" ng-bind="project.id"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-9" ui-view></div>
      </div>
    </section>

  </div>

  <footer id="footer">
    <div class="container">
      Built with <a href="//github.com/pilwon/ultimate-seed">ultimate-seed</a>
    </div>
  </footer>

  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js"></script>
  <![endif]-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.0/angular-ui-router.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.2.9/marked.min.js"></script>

  <script src="app.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47013942-1', 'dockerfile.github.io');
    ga('send', 'pageview');

  </script>
</body>

</html>
