<div class="page-header">
  <h1>Dockerfile Project <small>dockerfile.github.io</small></h1>
</div>

<div class="lead">
  <code>Dockerfile Project</code> maintains a central repository of <code>Dockerfile</code> for various popular open source software services runnable on a <a href="http://www.docker.io/">Docker</a> container. The goal of <code>Dockerfile Project</code> is to make it convenient for any developer to download pre-built <a href="http://www.docker.io/">Docker</a> images and rapidly build, deploy awesome applications.
</div>

<div class="well">
  <span class="glyphicon glyphicon-thumbs-up"></span> All <strong>trusted builds</strong> published to the public <a href="https://index.docker.io/">Docker Registry</a> are automatically built from the projects hosted on Github, and they are kept in sync and protected by <a href="https://index.docker.io/">Docker Index</a>.
</div>

<div class="lead">
  <a href="http://www.docker.io/">Docker</a> is an open source project to pack, ship and run any application as a lightweight container, sponsored by <a href="http://www.docker.com/">Docker Inc.</a> under the <a href="https://github.com/dotcloud/docker/blob/master/LICENSE">apache 2.0 licence</a>.
</div>

<hr>

<h4>Project Maintainers</h4>

<ul>
  <li><a href="https://github.com/pilwon">Pilwon Huh</a></li>
  <li>...J</li>
  <li>...O</li>
  <li>...I</li>
  <li>...N</li>
  <li>...N</li>
  <li>...O</li>
  <li>...W</li>
</ul>
