<h1 class="text-center well">
  docker pull <span class="text-danger">dockerfile/{{ projectId }}</span>
</h1>


<hr>

<div class="well">
  <p><button type="button" class="btn btn-danger">Note</button>&nbsp; 
  The dockerfile.github.io project, including <span class="text-danger">dockerfile/{{ projectId }}</span> has now been depreciated as of April 2015, and comparable Docker files and repositories are available on the <a href="https://registry.hub.docker.com/">Docker Hub Registry</a>.</p>

  <p><br></p>

  <p class="text-center">For further details, see <a href="http://blog.docker.com/2015/03/updates-available-to-popular-repos-update-your-images/">the list of supported replacements</a>, and  popular alternative repos.</p>
</div>
